In [53]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [54]:
data = pd.read_csv('xyz-table_with_std_all_years.csv')

In [55]:
data

,productCode,jan_3,feb_3,mar_3,apr_3,may_3,jun_3,jul_3,aug_3,sep_3,...,sep_4,oct_4,nov_4,decemb_4,jan_5,feb_5,mar_5,apr_5,may_5,std_value
0,S18_1749,4080.00,0.0,6426.00,0.0,3213.00,0.0,4936.80,0.0,5317.60,...,5385.60,7017.60,14380.30,0.00,5346.50,6099.60,0.00,10723.60,5661.00,29.064177
1,S18_2248,2754.50,0.0,1646.72,0.0,2441.04,0.0,1132.12,0.0,1220.40,...,1407.00,4070.76,4009.04,0.00,2261.25,1372.95,0.00,2441.04,1874.16,26.544431
2,S18_4409,1660.12,0.0,2293.48,0.0,2716.56,0.0,3720.05,0.0,2847.50,...,3156.65,3773.23,6302.29,0.00,3324.33,2503.36,0.00,546.66,4858.92,31.599788
3,S24_3969,1729.21,0.0,1693.92,0.0,1661.06,0.0,951.78,0.0,1002.82,...,1245.75,2103.31,2261.81,0.00,1679.92,1411.26,0.00,615.45,529.35,30.154235
4,S18_2325,2701.50,0.0,3817.77,0.0,4698.54,0.0,4347.96,0.0,4153.38,...,3192.38,5939.49,13679.00,3096.91,3363.93,4780.00,3192.38,625.50,5263.20,30.425807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,S24_1628,0.00,0.0,1254.83,0.0,2163.50,0.0,1046.50,0.0,2175.63,...,2465.00,2196.00,4207.34,0.00,1911.78,1561.60,0.00,2929.92,1805.60,31.582200
105,S24_2766,0.00,0.0,3555.67,0.0,2384.32,0.0,2060.80,0.0,1622.04,...,2862.30,2493.40,7712.19,0.00,2944.00,2780.64,0.00,6215.28,2976.87,32.061607
106,S24_2887,0.00,0.0,5186.04,0.0,2348.75,0.0,2889.00,0.0,3913.06,...,5242.56,4999.61,7572.32,0.00,3567.79,4909.08,0.00,5820.35,6329.95,30.382383
107,S24_3191,0.00,0.0,2172.69,0.0,3733.31,0.0,3775.45,0.0,2229.21,...,2590.46,2140.25,8609.10,0.00,3819.84,3390.20,0.00,1001.65,2696.75,29.048096
108,S24_3432,0.00,0.0,3565.69,0.0,4374.39,0.0,2091.18,0.0,2601.99,...,4170.93,4186.92,7803.02,0.00,1863.20,3094.68,0.00,4374.39,2728.44,30.213592

In [56]:
data.std(axis=1)

<ipython-input-56-00034c279acc>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.std(axis=1)

0      4101.303698
1      1423.637402
2      2058.052544
3       810.554258
4      3136.438186
          ...
104    1316.856112
105    2379.868739
106    2590.318430
107    2133.763417
108    2654.622000
Length: 109, dtype: float64

In [57]:
data.mean(axis=1)

<ipython-input-57-5eb54172de3f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean(axis=1)

0      4685.488806
1      1511.110481
2      2385.260660
3       993.118141
4      3667.414527
          ...
104    1401.570740
105    2556.736054
106    3142.635079
107    2246.211603
108    2914.500786
Length: 109, dtype: float64

In [65]:
data.columns

Index(['productCode', 'jan_3', 'feb_3', 'mar_3', 'apr_3', 'may_3', 'jun_3',
       'jul_3', 'aug_3', 'sep_3', 'oct_3', 'nov_3', 'decemb_3', 'jan_4',
       'feb_4', 'mar_4', 'apr_4', 'may_4', 'jun_4', 'jul_4', 'aug_4', 'sep_4',
       'oct_4', 'nov_4', 'decemb_4', 'jan_5', 'feb_5', 'mar_5', 'apr_5',
       'may_5', 'std_value'],
      dtype='object')

In [66]:
new_col = ['jan_3', 'feb_3', 'mar_3', 'apr_3', 'may_3', 'jun_3',
       'jul_3', 'aug_3', 'sep_3', 'oct_3', 'nov_3', 'decemb_3', 'jan_4',
       'feb_4', 'mar_4', 'apr_4', 'may_4', 'jun_4', 'jul_4', 'aug_4', 'sep_4',
       'oct_4', 'nov_4', 'decemb_4', 'jan_5', 'feb_5', 'mar_5', 'apr_5',
       'may_5']

In [68]:
data_copy = data[new_col]

In [71]:
data_copy['std'] = np.array(data_copy).std(axis=1)

<ipython-input-71-33af06a14cce>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_copy['std'] = np.array(data_copy).std(axis=1)

In [73]:
data_copy['mean'] = np.array(data_copy).mean(axis=1)

In [74]:
data_copy

,jan_3,feb_3,mar_3,apr_3,may_3,jun_3,jul_3,aug_3,sep_3,oct_3,...,oct_4,nov_4,decemb_4,jan_5,feb_5,mar_5,apr_5,may_5,std,mean
0,4080.00,0.0,6426.00,0.0,3213.00,0.0,4936.80,0.0,5317.60,11255.70,...,7017.60,14380.30,0.00,5346.50,6099.60,0.00,10723.60,5661.00,4005.901307,4818.050044
1,2754.50,0.0,1646.72,0.0,2441.04,0.0,1132.12,0.0,1220.40,1438.56,...,4070.76,4009.04,0.00,2261.25,1372.95,0.00,2441.04,1874.16,1395.752497,1556.750750
2,1660.12,0.0,2293.48,0.0,2716.56,0.0,3720.05,0.0,2847.50,6521.43,...,3773.23,6302.29,0.00,3324.33,2503.36,0.00,546.66,4858.92,2009.469681,2451.189656
3,1729.21,0.0,1693.92,0.0,1661.06,0.0,951.78,0.0,1002.82,1214.34,...,2103.31,2261.81,0.00,1679.92,1411.26,0.00,615.45,529.35,789.885907,1018.442530
4,2701.50,0.0,3817.77,0.0,4698.54,0.0,4347.96,0.0,4153.38,4299.70,...,5939.49,13679.00,3096.91,3363.93,4780.00,3192.38,625.50,5263.20,3060.292279,3768.410076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,0.00,0.0,1254.83,0.0,2163.50,0.0,1046.50,0.0,2175.63,1984.17,...,2196.00,4207.34,0.00,1911.78,1561.60,0.00,2929.92,1805.60,1291.184999,1443.557500
105,0.00,0.0,3555.67,0.0,2384.32,0.0,2060.80,0.0,1622.04,5349.38,...,2493.40,7712.19,0.00,2944.00,2780.64,0.00,6215.28,2976.87,2331.609683,2633.387656
106,0.00,0.0,5186.04,0.0,2348.75,0.0,2889.00,0.0,3913.06,7404.40,...,4999.61,7572.32,0.00,3567.79,4909.08,0.00,5820.35,6329.95,2522.742190,3225.713740
107,0.00,0.0,2172.69,0.0,3733.31,0.0,3775.45,0.0,2229.21,5030.44,...,2140.25,8609.10,0.00,3819.84,3390.20,0.00,1001.65,2696.75,2092.269172,2314.985639
108,0.00,0.0,3565.69,0.0,4374.39,0.0,2091.18,0.0,2601.99,4734.96,...,4186.92,7803.02,0.00,1863.20,3094.68,0.00,4374.39,2728.44,2598.126263,3000.097875

In [80]:
data_copy.iloc[0:5]

,jan_3,feb_3,mar_3,apr_3,may_3,jun_3,jul_3,aug_3,sep_3,oct_3,...,oct_4,nov_4,decemb_4,jan_5,feb_5,mar_5,apr_5,may_5,std,mean
0,4080.00,0.0,6426.00,0.0,3213.00,0.0,4936.80,0.0,5317.60,11255.70,...,7017.60,14380.30,0.00,5346.50,6099.60,0.00,10723.60,5661.00,4005.901307,4818.050044
1,2754.50,0.0,1646.72,0.0,2441.04,0.0,1132.12,0.0,1220.40,1438.56,...,4070.76,4009.04,0.00,2261.25,1372.95,0.00,2441.04,1874.16,1395.752497,1556.750750
2,1660.12,0.0,2293.48,0.0,2716.56,0.0,3720.05,0.0,2847.50,6521.43,...,3773.23,6302.29,0.00,3324.33,2503.36,0.00,546.66,4858.92,2009.469681,2451.189656
3,1729.21,0.0,1693.92,0.0,1661.06,0.0,951.78,0.0,1002.82,1214.34,...,2103.31,2261.81,0.00,1679.92,1411.26,0.00,615.45,529.35,789.885907,1018.442530
4,2701.50,0.0,3817.77,0.0,4698.54,0.0,4347.96,0.0,4153.38,4299.70,...,5939.49,13679.00,3096.91,3363.93,4780.00,3192.38,625.50,5263.20,3060.292279,3768.410076

In [90]:
sns.lineplot(y=data_copy.index, data_copy)

C:\Users\например Андрей\AppData\Local\Programs\Python\Python39\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

ValueError: If using all scalar values, you must pass an index